
.cuerpoPrincipal{
    width: 100%;
    border : 1px solid red;
     //para que el cuerpo principal comienzo a 150 y no lo cubra el encabezado.
    margin-top: 150px;

    
    
    
}

.seccionFormulario{
     width: 100%;
}

.formulario {

    width: 100%;
    height: 250px;
    border: 2px solid rgb(51, 255, 0);
    display: flex;   
}

.campoNombre{

    width: 300px;
    height: 30px;
    position: relative;
    outline: none;
    border: none;
    background: none;
    margin: 20px 20px 20px 20px;
    color :white;
    z-index: 10;
    
}

.nombreDeProducto{
    position : absolute;
    width: 300px;
    left: 10px;
    margin: 25px 25px 20px 25px;

}

.reubicacionCodigo{
    position : absolute;
    width: 300px;
    left: 380px;
    margin: 25px 25px 20px 25px;
   
}

.reubicacionCantidad {
    position : absolute;
    width: 300px;
    left: 750px;
    margin: 25px 25px 20px 25px;
    
}


form input:focus + .nombreDeProducto {
    transform : translateY(-16px);
    transition:  all 0.5s ease-out;
    font-size: 14px;
}

form input:focus + .reubicacionCantidad {
    transform : translateY(-16px);
    transition:  all 0.5s ease-out;
    font-size: 14px;
}

form input:focus + .reubicacionCodigo {
    transform : translateY(-16px);
    transition:  all 0.5s ease-out;
    font-size: 14px;
}

form input:focus {
    width: 300px;
    height: 30px;
    //position: relative;
    //border: 2px solid red;
    outline: 0px;
    //border-bottom: 2px solid white;
    background: none;
    margin: 20px 20px 20px 20px;
    color :white;
}

.divFormulario {

    //border-bottom: 1px solid white;
    //width: 400px;
    height: 50px;
    margin-left:  30px;
    border-bottom: 1px solid white;

}






    


